<!DOCTYPE html>
<html>
<head>
    <title>TODO список</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <header>
        <div class="star left">★</div>
        <h1>TODO список</h1>
        <div class="star right">★</div>
    </header>
    <main>
        <form id="todo-form">
            <input type="text" id="todo-title" placeholder="Новая задача" required autocomplete="off" />
            <button type="submit">Добавить</button>
        </form>

        <ul id="todo-list"></ul>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>
